/*
  MIDIsync
  Copyright 2022 Luc DeTellis
*/

body {
  background-color: #282C33;
  color: #DFDFDF;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Helvetica, Arial, sans-serif;
  cursor: default;
  user-select: none; /* Prevent selecting */
}
input, select, option, button {
  color: black;
}

body.mode0 .mode1-show {
  display: none;
}
body.mode1 .mode0-show {
  display: none;
}

table.padding-2px td, table.padding-2px th {
  padding: 2px;
}
table.padding-4px td, table.padding-4px th {
  padding: 4px;
}

h1.app-title {
  margin-top: 14px;
  margin-bottom: 0px;
}
h1.app-title span {
  color: #C0C0C0;
}

div#message {
  font-weight: bold;
  margin-bottom: 6px;
  visibility: hidden;
}
div#message.show {
  visibility: visible;
}
div#message.success {
  color: #0A0;
}
div#message.error {
  color: #E00;
}

hr {
  border: 0;
  background: #585858;
  height: 1px;
  width: 512px;
  margin-top: 20px; /* was 28px */
  margin-bottom: 20px; /* was 24px */
}

.instruction-box {
  margin-top: 2px;
  border: 1px solid #7F7F7F;
}

.default {
  color: #999;
  font-style: italic;
  padding-left: 4px;
}
